<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button id="open" expand="block">Edit task</ion-button>
      <ion-button id="delete" expand="block" style="color:red">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (message) {
  <ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          {{ message.title }}
          <span class="date">
            <ion-note>{{ message.date | date:"dd/MM/YYYY hh:mm" }}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>
    <div>
      <h4 style="margin-left: 1.3%; margin-right: 1.3%; font-weight: 550;">
        {{message.category}}
      </h4>
    </div>
    <div>
      <h5 style="margin-left: 1.4%; margin-right: 1.4%;">
        {{message.description}}
      </h5>
    </div>
  </ion-content>
}

<ion-modal #modal id="edit-task" trigger="open" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="cancelEdit()">Cancel</ion-button>
        </ion-buttons>
        <ion-title style="font-family: Work Sans;">Edit Task</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="confirmEdit(message.id)" [strong]="true">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item lines="none">
        <ion-input
          label="Enter the name of the task"
          labelPlacement="stacked"
          type="text"
          placeholder="Task"
          [(ngModel)]="title"
          [clearInput]="true"
          [counter]="true"
          minlength="4"
          errorText="Must have at least 4 characters"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="Enter the description of the task"
          labelPlacement="stacked"
          type="text"
          placeholder="Description"
          [(ngModel)]="description"
          [clearInput]="true"
          [counter]="true"
          minlength="10"
          errorText="Must have at least 10 characters"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="Enter the category of the task"
          labelPlacement="stacked"
          type="text"
          placeholder="Category"
          [(ngModel)]="category"
          [clearInput]="true"
          [counter]="true"
          minlength="3"
          errorText="Must have at least 3 characters"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          id="dateInput"
          label="Enter the description of the date"
          labelPlacement="stacked"
          type="datetime-local"
          [(ngModel)]="date"
          required="true"
          errorText="Invalid date"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modalDelete trigger="delete" (willDismiss)="onDeleteDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="cancelDelete()">Cancel</ion-button>
        </ion-buttons>
        <ion-title style="font-family: Work Sans;">Delete Task</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="confirmDelete(message.id)" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p style="text-align: center; font-size: 25px;">Are you sure you want to delete this task?</p>
      <img src="assets/DeleteIcon.png" style="width: 150px; height: 150px; display: flex; justify-self: center; align-self: start; margin-top: 5%;">
      <p style="text-align: center; font-size: 15px; margin-top: 8%;"><i>If you delete this task, it can't be recovered*</i></p>
    </ion-content>
  </ng-template>
</ion-modal>